*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    color: #1E1D30;
}

h1{
    font-size: 25px; 
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #1E1D30;
}

.gr-col{
    color: #BFBFBF;
}

.robot{
    font-family: "Roboto", sans-serif;
}

.bg-bl1{
    background-color: #1E1D30;
}

.bgblue{
    background-color: #A1C8E1;
}